/* Importer Bootstrap */
@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css');

/* Styles personnalisés */
body {
    background-color: #f0f2f5;
    font-family: 'Arial', sans-serif;
}

.container {
    margin-top: 100px;
    max-width: 400px;
    background-color: #fff;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-bottom: 30px;
    color: #333;
    text-align: center;
}

.form-control {
    border-radius: 5px;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    border-radius: 5px;
}

.btn-secondary {
    background-color: #adb2b6;
    border-color: #adb2b6;
    border-radius: 5px;
}

.btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 5px;
}

.text-center a {
    display: block;
    margin-top: 10px;
}

.text-center a:hover {
    text-decoration:double;
    color: #0056b3;
}
